<div class="<%= local_assigns[:css_class_one] %>" id="message-<%= message.id %>">
  <small>
    <strong><%= message.user.username %></strong>
    <i><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i>
  </small>
  <p class="<%= local_assigns[:css_class_one] %>"><%= message.content %></p>
</div>
