<div class="reservations">
      <h4>Reservation ID: <%= reservation.id %></h4>
      <p class="reservations-status">Items: <%= reservation.reservation_products.count %></p>
      <p class="reservations-status">Status: <%= reservation.status %></p>
            <%= simple_form_for reservation, data: { turbo_method: "patch" }, remote: true do |f| %>
              <%= f.input :status, collection: Reservation.statuses.keys, prompt: "Update status" %>
              <%= f.button :submit %>
            <% end %>
      <p class="reservations-status">Created at: <%= reservation.created_at.strftime("%m/%d/%Y %H:%M") %></p>
      <i class="fa-solid fa-circle-chevron-down" data-action="click->collapsable-cards#toggle" data-reservation="<%= reservation.id %>"></i>
    </div>
    <hr>

    <div data-collapsable-cards-target="cards" class="hidden" data-cards="<%= reservation.id %>">
    <% reservation.reservation_products.each do |product| %>

      <div class="reservation-items">
        <%= cl_image_tag product.product.photos.first.key, class: "text", height: 100, width: 150, crop: :fill %>
        <p class="reservations-text"><%= product.product.name %></p>
        <p class="reservations-status">Status: <%= product.reservation.status %></p>
      </div>
      <hr>
    <% end %>
</div>
