<%= form_with url: shops_path, method: :get, class: "d-flex container mt-4 gap-2" do %>
<%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Type a product, shop or address"
  %>
<%= submit_tag "Search", class: "btn" %>
<% end %>
<div class="container d-flex align-items-baseline mt-4">
<h3>Local Indieshops around</h3>
<p style="color: #006400ff">&nbsp&nbsp<%= @shops.count %> indieshops found</p>
</div>
<hr class="container mt-2">
<div class="container mt-4">
  <div class="row">
    <div class="col-7">
      <% @shops.each_with_index do |shop, index| %>
      <%= link_to shop_path(shop) do %>
      <div class="card-product mb-3 rounded">
        <div id="carouselExampleControlsNoTouching<%= index %>" class="carousel slide" data-bs-touch="false"
          data-bs-interval="false">
          <div class="carousel-inner" style="width: 250px;">
            <% shop.photos.each_with_index do |photo, index| %>
            <div class="carousel-item <%= index == 0 ? "active" : "" %>">
              <%= cl_image_tag photo.key %>
            </div>
            <% end %>
          </div>
          <button class="carousel-control-prev" type="button"
            data-bs-target="#carouselExampleControlsNoTouching<%= index %>" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button"
            data-bs-target="#carouselExampleControlsNoTouching<%= index %>" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        <div class="card-product-infos">
          <h5><%= shop.name %></h5>
          <p><%= shop.address %></p>
          <p><%= shop.phone_number %></p>
          <% average = 0 %>
          <% shop.reviews.each do |review| %>
          <% if @average == 0 %>
          <% average = review.rating %>
          <% else %>
          <% average = (average + review.rating) / 2 %>
          <% end %>
          <% end %>
          <% if average == 0 %>
          <div class="d-flex align-items-center">
            <i class="fa-regular fa-star"></i>
            <p class="mt-0 mb-0">&nbsp&nbspNo reviews yet</p>
          </div>
          <% else %>
          <% average.times do %>
          <i class="fa-solid fa-star"></i>
          <% end %>
          <% end %>
        </div>
      </div>
      <hr>
      <% end %>
      <% end %>
    </div>
    <div id="map" class="col-5 rounded" data-controller="map" data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>
