<%= form_with url: shops_path, method: :get, class: "d-flex" do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a shop"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>

<% @shops.each do |shop| %>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"><%= shop.name %></h5>
      <p class="card-text"><%= shop.address %></p>
      <p class="card-text"><%= shop.phone_number %></p>
    </div>
  </div>
<% end %>
