<div class="container">
  <h1>Welcome to IndieShopper!</h1>

  <%= simple_form_for @shop do |f| %>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :phone_number %>

  <%= f.association :shop_category %>
    <%= f.button :submit %>
  <% end %>
<div>
