<div class="container">
   <h1>Welcome to <%= @shop.name %>!</h1>
   <%= cl_image_tag @shop.user.photo.key %>
   <h2>Products</h2>
   <% if policy(@shop).edit? %>
   <%= link_to "Edit this shop", edit_shop_path(@shop), class: "btn"%>
   <%= button_to "Delete my shop", @shop, class:"btn", method: :delete if policy(@shop).destroy?%>
   <% end %>
   <h2><%= pluralize @shop.reviews.size, "review" %></h2>
   <div data-controller="insert-in-list">
      <div data-insert-in-list-target="items">
         <% if @shop.reviews.blank? %>
         Be the first to leave a review for <%= @shop.name %>
         <% else %>
         <% @shop.reviews.each do |review| %>
         <%= render "review", review: review %>
         <% end %>
         <% end %>
      </div>
      <%= render "reviews/form", shop: @shop, review: @review %>
   </div>
</div>

   <ul class="product-cards">
      <% @products.each do |product| %>
      <div class="product-card">
        <%= link_to shop_product_path(product) do %>
          <%= cl_image_tag product.photos.first.key %>
          <h5><strong><%= product.name %></strong></h5>
          <p><%= product.info %></p>
          <p><%= product.price %></p>
        <% end %>
      </div>
      <% end %>
   </ul>
