<div class="container">
  <div class="shop-card">
      <%= cl_image_tag @shop.photos.first.key %>
    <div class="shop-card-info">
        <h1 class="text-center"><%= @shop.name %></h1>
        <h4 class="text-center">Address: <%= @shop.address %></h2>
        <h4 class="text-center">Phone Number: <%= @shop.phone_number %></h2>
              <% if policy(@shop).edit? %>
              <%= link_to "Edit this shop", edit_shop_path(@shop), class: "btn"%>
              <%= button_to "Delete my shop", @shop, class:"btn", method: :delete if policy(@shop).destroy?%>
              <% end %>
    </div>
  </div>

       <h2 class="text-center">Products</h2>
   <ul class="product-cards">
      <% @products.each do |product| %>
      <div class="product-card">
        <%= link_to shop_product_path(product) do %>
          <%= cl_image_tag product.photos.first.key %>
          <h5><strong><%= product.name %></strong></h5>
          <p><%= product.info %></p>
          <p><%= product.price %></p>
        <% end %>
      </div>
      <% end %>
   </ul>
  <h2><%= pluralize @shop.reviews.size, "Review" %></h2>
   <div data-controller="insert-in-list">
      <div data-insert-in-list-target="items">
         <% if @shop.reviews.blank? %>
         Be the first to leave a review for <%= @shop.name %>
         <% else %>
         <% @shop.reviews.each do |review| %>
         <%= render "review", review: review %>
         <% end %>
         <% end %>
      </div>
      <%= render "reviews/form", shop: @shop, review: @review %>
   </div>

</div>
