<div class="shop-card container">
  <div class="img-card">
    <%= cl_image_tag @shop.photos.first.key, class: "shop-img" %>
  </div>
  <div class="info-card">
      <h3><%= @shop.name %></h3>
      <hr>
      <div class="about">
        <h5><strong>About us</strong></h5>
        <p><%= @shop.about %></p>
      </div>
        <p>  <i class="fa-solid fa-location-dot"></i> <%= @shop.address %></p>
        <p>  <i class="fa-solid fa-phone"></i> <%= @shop.phone_number %></p>
  </div>
</div>

<div class="container">
  <div class="products-container">
    <hr>
      <h3 class="text-center">Products</h3>
    <hr>
      <ul class="product-cards">
          <% @products.each do |product| %>
          <div class="product-card">
            <%= link_to shop_product_path(@shop, product), class: "class-1" do %>
              <div class="shop-product-img">
                <%= cl_image_tag product.photos.first.key, class:  "class-2"%>
              </div>
               <div class="product-info">
                <div class="price-icon basket-icon">
                  <p>€<%= product.price.to_i %></p>
                  <i class="fa-solid fa-basket-shopping"></i>
                </div>
                <h5><%= product.name %></h5>
              </div>
            <% end %>
          </div>
          <% end %>
      </ul>
    <hr>
  </div>
    <div class="reviews-container">
      <div data-controller="insert-in-list">
        <h2 class="text-center review-title"><%= pluralize @shop.reviews.size, "Review" %></h2>
          <div data-insert-in-list-target="items" class="reviews-card">
              <% if @shop.reviews.blank? %>
                Be the first to leave a review for <%= @shop.name %>
              <% else %>
              <% @shop.reviews.each do |review| %>
                <%= render "review", review: review %>
              <hr>
              <% end %>
              <% end %>
          </div>
            <% if user_signed_in? %>
              <div class="review-form">
              <%= render "reviews/form", shop: @shop, review: @review %>
            <% end %>
        <div class="chat">
          <% if @chat %>
          <%= render "chats/show", chat: @chat %>
          <% else %>
          <%= link_to "Start chatting", shop_chats_path(@shop), data: { turbo_method: :post } %>
          <% end %>
        </div>
          </div>
      </div>
        <div class="edit-delete">
          <% if policy(@shop).edit? %>
            <%= link_to "Edit this shop", edit_shop_path(@shop), class: "btn"%>
            <%= button_to "Delete my shop", @shop, class:"btn", method: :delete if policy(@shop).destroy?%>
          <% end %>
        </div>
</div>
