<div class="container" >
  <%= simple_form_for [@shop, @product] do |f| %>
    <%= f.input :name, label: "Product name", :label_html => { :class => 'type' }%>
    <%= f.input :price %>
    <%= f.input :info, label: "Description" %>
    <%= f.association :product_category, collection: ProductCategory.all.map {|category| [category.id, category.product_category_name]}, label_method: :second, value_method: :first %>
    <%= f.input :photos, as: :file, input_html: { multiple: true } %>
    <%= f.submit %>
  <% end %>
</div>
