<div class="shop-card" style="background-image: url('<%= cl_image_path @shop.photos.first.key %>');">
  <div class="shop-card-text">
      <h1><%= @shop.name %></h1>
  </div>
</div>
<div class="container">
  <div class="product">
    <div class="image">
      <%= cl_image_tag @product.photos.first.key %>
    </div>

    <div class="info">
      <h3><strong> <%=  @product.name %> </strong></h3>
      <p><%= @product.info %></p>
    </div>

    <div class="price">
        <h4>€<%=@product.price.to_i %></h4>
    <div>
      <%= link_to product_basket_products_path(@product), data: {turbo_method: "post"} do %>
         <i class="fa-solid fa-basket-shopping"></i>
      <% end %>
    </div>
    </div>
  </div>
<hr class="product-hr">
    <div class="buttons">
      <% if policy(@product).edit? %>
        <div class="space">
          <%= link_to "Edit this product", edit_product_path(@product), class: "btn" if policy(@product).edit?%>
          <%= link_to "Delete this product", product_path(@product), class: "btn", data: { turbo_method: :delete, turbo_confirm: "are you sure" } if policy(@product).destroy?%>
        </div>
      <% end %>
    </div>
</div>
