<div class="container">
  <div class= "title">
    <h3>Have a look to the details of the <strong><%= @product.name %></strong></h3>
  </div>


  <div class="product">
    <div class="image">
      <%= cl_image_tag @product.photos.first.key, height: 400, width: 500, crop: :fill %>
    </div>

    <div class="info">
      <h1><%= @product.name %></h1>
      <p><%= @product.info %></p>
    </div>

    <div class="price">
      <h3>$<%=@product.price %></h3>
      <P>Price for each item</P>
    </div>

    <% if policy(@product).edit? %>
      <%= link_to "Edit this product", edit_product_path(@product), class: "btn" if policy(@product).edit?%>
      <%= link_to "Delete my product", product_path(@product), class:"btn", data: { turbo_method: :delete, turbo_confirm: "are you shur" } if policy(@product).destroy?%>
    <% end %>

  </div>
</div>



<%# <%=
  link_to "Delete",
    product_path(@shop_path(params[:shop_id])),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
 %>
